<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>

	<title>Whatsapp API</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
        background-color: #ffffff;
        color:#202020;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-left:100px;
        text-align: center;
        }

        .btn {
            border-radius:10px;
            padding:10px;
            background-color: red;
            color: #202020;
            font-weight:600;
        }
        button { 
            cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    background: green;
    margin: 20px auto;
    border: 0;
    padding: 15px 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 900;

        }
        img { margin: 40px auto}

        a { color: #ff0000}

    </style>

</head>
<body>
    <h1>WhatsApp API</h1>
    <h2>Leia o QRCode</h2>
    <img id="img1">
    <br><button onclick="renovar()">Renovar QR Code</button><br>
    <svg style="width: 50px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M4.867 43.305l2.696-9.836a18.934 18.934 0 0 1-2.536-9.489C5.031 13.516 13.547 5 24.016 5a18.882 18.882 0 0 1 13.43 5.566A18.86 18.86 0 0 1 43 23.992c-.004 10.469-8.523 18.98-18.984 18.98-.004 0 0 0 0 0h-.008c-3.18 0-6.301-.796-9.074-2.308z" fill="#fff"/><path d="M4.867 43.805a.513.513 0 0 1-.355-.149.504.504 0 0 1-.125-.484l2.636-9.637a19.537 19.537 0 0 1-2.496-9.555C4.531 13.238 13.273 4.5 24.016 4.5a19.37 19.37 0 0 1 13.78 5.715A19.34 19.34 0 0 1 43.5 23.992c-.004 10.742-8.746 19.48-19.484 19.48-3.192 0-6.344-.785-9.145-2.277l-9.875 2.59a.491.491 0 0 1-.129.02z" fill="#fff"/><path d="M24.016 5a18.882 18.882 0 0 1 13.43 5.566A18.86 18.86 0 0 1 43 23.992c-.004 10.469-8.523 18.98-18.984 18.98h-.008c-3.18 0-6.301-.796-9.074-2.308l-10.067 2.64 2.696-9.835a18.934 18.934 0 0 1-2.536-9.489C5.031 13.516 13.547 5 24.016 5m0-1C12.996 4 4.03 12.96 4.027 23.98c0 3.368.848 6.684 2.461 9.622l-2.586 9.437c-.093.348.004.715.254.969.192.191.45.297.711.297a.927.927 0 0 0 .254-.035l9.688-2.54c2.828 1.47 6 2.243 9.199 2.247 11.023 0 19.988-8.965 19.992-19.98a19.851 19.851 0 0 0-5.848-14.138C34.38 6.082 29.355 4.004 24.016 4z" fill="#cfd8dc"/><path d="M35.176 12.832A15.676 15.676 0 0 0 24.02 8.207c-8.704 0-15.786 7.074-15.79 15.773 0 2.98.836 5.883 2.415 8.395l.375.598-1.594 5.82 5.972-1.566.579.343c2.421 1.438 5.199 2.2 8.03 2.2h.009c8.695 0 15.773-7.079 15.777-15.778a15.66 15.66 0 0 0-4.617-11.16z" fill="#40c351"/><path d="M19.27 16.047c-.356-.793-.73-.809-1.07-.82-.278-.012-.595-.012-.91-.012-.313 0-.83.117-1.263.594-.437.472-1.664 1.62-1.664 3.957 0 2.332 1.703 4.59 1.938 4.906.238.312 3.285 5.258 8.105 7.16 4.008 1.578 4.824 1.266 5.692 1.188.87-.083 2.808-1.149 3.203-2.258.394-1.106.394-2.055.277-2.254-.117-.2-.433-.317-.91-.555-.473-.238-2.805-1.383-3.242-1.543-.434-.156-.75-.234-1.067.238-.316.473-1.226 1.543-1.504 1.86-.277.316-.55.355-1.027.12-.473-.237-2-.737-3.812-2.355-1.41-1.257-2.364-2.808-2.641-3.285-.277-.472-.031-.73.207-.968.215-.211.477-.555.715-.832.234-.278.312-.473.473-.79.156-.316.078-.593-.04-.832-.117-.238-1.039-2.582-1.46-3.52z" fill-rule="evenodd" fill="#fff"/></svg>
<script>
    const socket = io('http://localhost:8007')
    socket.on('connection')

    socket.on('message', (data) => {
        document.querySelector('h1').innerHTML = data
        socket.emit('message')
        console.log(data)
        if (data = 'CONNECTED') { 
            document.querySelector('h2').textContent = 'CONECTADO';
            document.querySelector('h2').style.color = '#40c351';
            //document.querySelector('h3').style.display = 'none';
            document.querySelector('p').style.display = 'none';
            document.getElementById('img1').style.display = 'none';
            socket.disconnect(true);
        } 
        else {
            console.log('nao ta conectado')
        }
    })



    socket.on('ready', (data) => {
        console.log(data);
        setTimeout(function () {
         document.getElementById('img1').src = data
         }, 3000);
     })

     function renovar(){
        document.querySelector('img').src = "./out.png?" + new Date().getTime();
     }

    socket.emit('message')
    socket.emit('ready')
</script>
        
</body>
</html> 